@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>@ViewBag.Title.</h2>

<address>
    Dingran Yang<br />
    6 King St.<br />
    <abbr title="Phone">P:437-000-0000</abbr><br/>
    <a href="mailto:yang@example.com">yang@example.com</a>
</address>
